// Specific CSS for your home-page
.homepage-banner {
  margin-top: 20px;
}

#img-homepage {
  background-image: url("bg-homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 36vh;
  display:flex;
  justify-content: center;
  padding-top: 88px;
  margin-bottom: 40px;
}


.homepage-h1 {
 font-size: 30px;
  margin-top: 20px;
  text-align:right;
  margin-right: 20px;
}





#new-order {
  margin-top: -60px;
}
