.fa-circle-user {
  font-size: 150px;
}

#img-my-orders {
  background-image: url("bg-my-orders.png");
  // background-position: center;
  padding-top: 88px;
  background-size: cover;
  height: 36vh;
  margin-top: 15px;

}
