#img-ordermarkascompleted {
  background-image: url("bg-ordermarkascompleted.png");
  background-position: center;
  padding-top: 88px;
  background-size: cover;
  height: 36vh;
  margin-top: 15px;
}
