
#map {
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 25px;
  margin-top: 12px;
}

.badge {
  width: 70%;
  text-align: center;
  padding: 12px;
  margin: 10px;
  color:black;
  border: 2px solid orange;
  border-radius: 10px;
}
