.fa-circle-check {
  font-size: 150px;
}

#img-specialshow {
  background-image: url("bg-specialshow.png");
  // background-position: center;
  padding-top: 88px;
  background-size: cover;
  height: 36vh;
  margin-top: 15px;

}
