  <footer class="footer">
    <i class="fa-solid fa-graduation-cap" style="color: #ff731d;"></i>
    <span id="footer-font"> This is a demo of a student project and not a real business</span>
  </footer>
