
<div class="background-container">
  <div class= "one" id="img-my-orders">
  </div>
    <%# <div class="banner">
    </div>
  </div>
  <div class="container">
    <%# <div class="page-icon">
      <div class="circle">
        <div class="circle-icon">
          <i class="fa-solid fa-circle-user" style="color: #ff731d;"></i>
        </div>
      </div>
    </div> %>
    <h1>My Orders</h1>
    <% @orders.each do |order| %>
      <% if order.status != "Pending" %>
        <%= link_to specialshow_order_path(order) do %>
          <div class="card mb-3">
            <% if order.status == "Submitted" && (order.pickup_at <= Time.now + 15.minutes) %>
              <div class="card-header btn-blue">Cancelled</div>
            <% else %>
              <div class="card-header btn-blue"><%= order.status %></div>
            <% end %>
              <div class="card-body text-dark">
                <h5 class="card-title">Date: <%= order.pickup_at.strftime("%Y-%m-%d") %></h5>
                <h5 class="card-title">Time: <%= order.pickup_at.strftime("%H:%M") %></h5>
              </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
