<div class="background-container">
  <div class="hompage-banner">
    <h1 class="homepage-h1 word-box">Delivering delight,
    <br>
    at the speed of light!</h1>
  </div>
  <div id= "img-homepage">
  </div>
  <div>
    <div class="card-light-orange" id= "new-order">
      <h2> Create new order </h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
