/// all buttons ///

.btn {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  text-align: center;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 3px;
  width: 100%;
}


.btn-sticky {
  position: sticky;
  bottom: 30px;
  margin: 0px;
  width: 100%;
}

/// large button blue sticky ///

.btn-blue {
  background-color: #1746A2;
  color: #ffffff;
  font-style: bold;
  margin-top: 10px;
}
.btn-blue:hover {
  background-color: #31549a;
  color: #ffffff;
}

/////// orange border button //////////

.btn-border-orange {
  background-color: transparent;
  border: #FF731D;
  color: darkgray;
}

.btn-border-orange:hover {
  background-color:#f8ba93 ;
}

/////////// button width 100% //////
.btn-full-width {
  width: 100%;
}


/// small button blue ///

// .btn-small , .btn-blue {
//   background-color: #1746A2;
//   color: #ffffff;
//   font-style: bold;
// }

// .btn-small , .btn-blue:hover {
//   background-color: #31549a;
//   color: #ffffff;
//   font-style: bold;
// }
