// white card /////
.card {
  padding: 12px;
  margin: 20px;
}

#card-sm {
  padding: 10px;
  background-color: #f3c29263;
  border: 1px dotted #ff731d;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  margin: 10px;
}

.hidden {
  display:none;
}
// card light orange ////

.card-light-orange {
  background-color: #FFF7E9;
  border: 1px solid #ff731d;
  border-radius: 15px;
  padding: 12px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.card-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-summary {
  background-color: white;
  border: 1px solid lightgrey;
  margin-left: 50px;
  padding: 6px;
  text-align: left;
  border-radius: 15px;
}
