<p>Hello <%= @resource.email %>!</p>

<p>This app is just for demo purposes, password changing function is disabled.</p>

<%# <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
